/* DASHBOARD */
div#dashboard_blanket {
    position: fixed;
    top: 0;
    z-index: 9;

    width: 100svw;
    height: 100svh;

    background: #000000dd;
    backdrop-filter: blur(8px);
    
}

div#dashboard {
    position: fixed;
    top: 0;
    z-index: 10;

    float: left;

    width: 95svw;
    max-width: 300px;
    height: 100svh;

    background: var(--primary);
    color: var(--background);
}

div#dashboard div#profile_header {
    margin-top: 5svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#dashboard div#profile_header img {
    width: 10svw;
    max-width: 100px;
    min-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 60svw;
}

div#dashboard div#profile_header p {
    font-size: 150%;
    font-weight: bold;
}

div#dashboard div#dashboard_menu {
    margin-top: 2svh;
    margin-bottom: 2svh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

div#dashboard div#dashboard_menu a {
    padding: 2svw 1svh;
    padding-left: 0;
    width: 80%;
}

div#dashboard div#dashboard_menu a div{
    display: flex;
    flex-direction: center;
    justify-content: start;
    align-items: center;
}


div#dashboard div#dashboard_menu a div img {
    width: 30%;
    max-width: 50px;
    aspect-ratio: 1 / 1;
}

div#dashboard div#dashboard_menu a div p {
    margin-left: 10%;
}


/* BANNER */
div#center_logo {
    position: absolute;
    z-index: 2;

    width: 100svw;
    height: 10svh;

    display: flex;
    justify-content: center;
}

div#center_logo img#logo {
    height: 10svh;
    max-height: 100px;
    aspect-ratio: 16 / 10;
    object-fit: contain;
}

div#banner {
    display: flex;
    align-items: center;

    width: 100svw;
    height: 10svh;
    max-height: 100px;

    background: var(--primary);

    color: var(--secondary);
}

div#banner div#profile {
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#banner div img {
    width: 30%;
    max-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 60svw;
}

div#banner div p {
    margin-left: 5px;

    font-weight: bold;
}


/* FEED */
div#feed {
    display: block;

    width: 100svw;
    height: 90svh;
    overflow-y: scroll;

    border: 1px solid var(--background);
}


/* RECIPES */
div#feed div.recipe {
    margin: auto;
    margin-top: 5svh;

    padding: 2svh 3svw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 96svw;
    max-width: 800px;
    aspect-ratio: 3 / 2;

    background: var(--secondary);

    border: 1px solid var(--secondary);
    border-radius: 50px;
}


/* CHEFS */
div#feed div.recipe div.chef {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
}

div#feed div.recipe div.chef img.avatar {
    width: 30%;
    max-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 60svw;
}

div#feed div.recipe div.chef p.username {
    margin-left: 5px;

    font-weight: bold;
}

div#feed div.recipe div.chef img.chef_hat {
    margin-left: 10px;

    width: 30%;
    max-width: 50px;
    aspect-ratio: 1 / 1;
}


/* IMAGES */
div#feed div.recipe div.images{
    flex: 3;
    border: 1px solid green;
}

div#feed div.recipe div.images img.recipe_showcase {
    border: 1px solid black;
}


/* REACTIONS */
div#feed div.recipe div.reactions{
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#feed div.recipe div.reactions button {
    background: #ffffff00;
    border: none;
}

div#feed div.recipe div.reactions button img {
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
}
