
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffcc99; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  background-color:#E65027;
  color: white;
  padding: 15px;
  font-size: 24px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .logo {
  height: 40px;
}

.header .back-btn {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s ease;
}

.header .back-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

#map-wrapper {
  background-color: #fff;
  border: 3px solid #FF7F50; 
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: 70vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto; 
  animation: fadeIn 1s ease-in-out;
}

#map {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  animation: popIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
