@font-face {
  font-family: instagramSans;
  src: url(../../fonts/Instagram\ Sans.ttf);
}

:root {
    --primary:    #db4a2b;
    --secondary:  #ffffff;
    --accent:     #ffda7d;
    --background: #fff5da;
    --text-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--background);
    color: var(--text_color);
    font-size: 1svw;
    font-family: instagramSans;
}

.cursor {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}
